/* Aspekta Variable | OFL v1.1 (c) Ivo Dolenc | https://github.com/ivodolenc/aspekta */

@font-face {
    font-family: 'Made Tommy Soft';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
}

// @font-face {
//     font-family: 'Made Tommy Soft';
//     font-weight: medium;
//     font-style: normal;
//     src: url('/assets/fonts/MADE Tommy Soft Medium PERSONAL USE.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Made Tommy Soft';
//     font-weight: bold;
//     font-style: normal;
//     src: url('/assets/fonts/MADE Tommy Soft Bold PERSONAL USE.otf') format('opentype');
// }

@font-face {
    font-family: 'Quicksand';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

// @font-face {
//     font-family: 'Quicksand';
//     font-weight: medium;
//     font-style: normal;
//     src: url('/assets/fonts/Quicksand-Medium.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Quicksand';
//     font-weight: bold;
//     font-style: normal;
//     src: url('/assets/fonts/Quicksand-Bold.ttf') format('truetype');
// }