// bootstrap-custom.scss
$primary: #3EF2B5;
$secondary: #014242;

$dark: #000000;
$light: #E1E4EA;


// $info: #2E9FF5;
// $warning: #D29C0F;

// $input: #FAFBFE;
// $active: #FDF0E7;
// $placeholder: #1E1E1E;
// $gray: #EBEBEB;
// $bg-gray: #F5F5F5;

// Add other customizations as needed

$font-ibm: 'IBM Plex Sans Arabic', sans-serif;

@import "~bootstrap/scss/bootstrap";